body{
    margin: 0px;
    padding: 0px;
    background: url('https://images.pexels.com/photos/1113520/pexels-photo-1113520.jpeg?auto=compress&cs=tinysrgb&w=1600');
    color: white;
    font-weight: bold;
    font-size: larger;
    font-family: 'Baloo Bhai 2', cursive;
}
.first{
    display: block;
    float: left;
    box-sizing: border-box;
    margin: 20px;
}
.second{
  display: block;
  position: absolute;
  margin: 20px;
  top: 0px;
  left: 50%;
}
.third{
    display: inline;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}
.navbar li a{
    color: white;
    text-decoration: none;
}
.navbar li a:hover{
    text-decoration: underline;
    color: cornflowerblue;
}
.second img{
    width: 100px;
    text-decoration: underline;
    cursor: pointer;
}

#logo{
    padding-left: 7px;
    line-height: 0px;
}
#logo:hover{
    text-decoration: underline;
    color: cornflowerblue;
}
.btn{
    color: cornflowerblue;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    font-family: 'Baloo Bhai 2', cursive;
}
.btn:hover{
    text-decoration: underline;
    background-color: rgb(64, 83, 76);
    cursor: pointer;
}
.container{
    position: absolute;
    width: 30%;
    bottom: 3px;
    left: 2px;
}
.class-group input{
    background-color: rgb(203 219 255);
    color: black;
    padding: 10px;
    margin: 5px;
    font-size: larger;
    font-family: 'Baloo Bhai 2', cursive;
}
